.profile__detailContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	gap: 10px;
	padding: 10px;
}
.profile__detail__itemContainer {
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}
.profile__detail__itemContainer h1 {
	font-size: 1.5em;
}
.profile__detail__itemContainer i {
	font-size: 1.5em;
}
@media (min-width: 900px) {
	.profile__detailContainer {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
}
