@media (max-width: 899px) {
	.heroContainer {
		padding: 10px;
		text-align: center;
		padding: 60px 20px;
	}
	.heroContainer section article {
		margin: 10px 0px;
	}

	.heroContainer section article img {
		margin: 0 auto;
		display: block;
		margin: 30px 0px;
	}
}
.heroContainer section article input,
.heroContainer section article button {
	width: 100%;
	display: block;
	padding: 10px;
	margin: 20px 0px;
	border-radius: 5px;
	font-size: 25px;
}
.heroContainer section article button {
	background-color: #6c62ff;
	color: white;
}
@media (min-width: 900px) {
	.heroContainer section {
		display: flex;
		justify-content: space-between;
	}
	.heroContainer .firstChild h1 {
		font-size: 40px;
	}
}
